/* Header Bootstrap*/
.nav {
    background-color: #8f9541;
    color: white;
    padding: 30px;
    border-bottom: none;
    text-decoration: none;
}
.nav-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 0px;
}
.nav a{
    color: rgb(220, 220, 220);
    text-decoration: none;
    padding-right: 90px;

}
.nav a:hover,
.nav a:focus,
.nav a.active,
.nav .nav-link.active {
    color: white;
    text-decoration: underline;
    text-decoration-color: #f9eb35;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition:0.2s;
}
.nav-item {
    font-size: 30px;
}
#side {
    margin-right: 400px;
}
/* Header Regular CSS*/
.navbar-brand img {
    margin-left: 0 !important;
}
.word {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0;
}
.header {
    background-color: #8f9541;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* Phone Media */
@media (min-width:375px){
    img {width: 70px; height: 50px;}
    .word {font-size: 40px; margin: 0 40px; letter-spacing: 5px;}
    .divider {width: 500px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    ul.nav {padding: 0px;}
    /* .container-fluid {flex-direction: column;} */
}
@media (min-width:700px){
    img {width: 70px; height: 50px;}
    .word {font-size: 40px; margin: 0 200px; letter-spacing: 5px;}
    .divider {width: 800px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    .nav a {padding:0px 20px;}
    .nav-item{font-size: 25px;}
    /* .container-fluid {flex-direction: column;} */
}
@media (min-width:900px){
    img {width: 130px; height: 90px;}
    .word {font-size: 50px; margin: 0 40px; letter-spacing: 5px;}
    .divider {width: 800px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    .nav-item{font-size: 25px;}
    .container-fluid {flex-direction: column;}
}
/* Computer Media */
@media (min-width:1900px){
    .divider {width: 300px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;}
    .nav a {padding-right: 40px;}
}
@media (min-width:2500px){
    .divider {width: 600px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;}
    .nav a {padding-right: 60px;}
}