/* Header Bootstrap*/
.nav {
    background-color: #8f9541;
    color: white;
    padding: 30px;
    border-bottom: none;
    text-decoration: none;
}
.nav-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 0px;
}
.nav a{
    color: rgb(220, 220, 220);
    text-decoration: none;
    padding-right: 90px;

}
.nav a:hover,
.nav a:focus,
.nav a.active,
.nav .nav-link.active {
    color: white;
    text-decoration: underline;
    text-decoration-color: #f9eb35;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition:0.2s;
}
.nav-item {
    font-size: 30px;
}
#side {
    margin-right: 400px;
}
/* Header Regular CSS*/
.navbar-brand img {
    margin-left: 0 !important;
}
.word {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0;
}
.header {
    background-color: #8f9541;

    top: 0;
    z-index: 1000;
}
/* Phone Media */
@media (max-width:500px){
    img {width: 70px; height: 50px;}
    .word {font-size: 30px; margin: 0 30px; letter-spacing: 3px;}
    .divider {width: 500px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    ul.nav {padding: 0px;}
    li:nth-child(1) {padding: 0px 120px 0px 0px;}
    li.nav-item{padding-right: 30px;}
}
@media (min-width:500px){
    img {width: 70px; height: 50px;}
    .word {font-size: 50px; margin: 0px 20px 0px 60px; letter-spacing: 3px;}
    .divider {width: 500px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    ul.nav {padding: 0px 120px 0px 10px;}
    li:nth-child(1) {padding: 0px 120px 0px 0px;}
    li.nav-item{padding-right: 100px;}
}
/* Ipad Media */
@media (min-width:700px){
    img {width: 120px; height: 80px;}
    .word {font-size: 60px; margin: 0 100px; letter-spacing: 3px;}
    .divider {width: 900px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    .nav a {padding:0px 10px;}
    li:nth-child(1) {padding: 0px 0px 0px 70px;}
    li.nav-item{padding-right: 0px;}
    ul.nav{padding: 0px;}
}
@media (min-width:800px){
    img {width: 120px; height: 80px;}
    .word {font-size: 60px; margin: 0 130px; letter-spacing: 3px;}
    .divider {width: 800px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    .nav a {padding:0px 10px;}
    li:nth-child(1) {padding: 0px 0px 0px 140px;}
}
@media (min-width:900px){
    img {width: 120px; height: 80px;}
    .word {font-size: 70px; margin: 0 150px; letter-spacing: 3px;}
    .divider {width: 900px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;} 
    .nav a {padding:0px 20px;}
    li:nth-child(1) {padding: 0px 0px 0px 140px;}
}
/* Computer Media */
@media (min-width:1000px){
    img {width: 80px; height: 60px;}
    .word {font-size: 40px; margin: 0 10px 0px 40px; letter-spacing: 5px;}
    .divider {width: 100px; height: 3px; background: #f9eb35; margin: 0 5px; display: inline-block;} 
    .nav-item{font-size: 20px;}
    li:nth-child(1) {padding: 0px;}
    a.nav-link {padding: 5px;}
    ul.nav {padding: 0px;}
}
@media (min-width:1100px){
    img {width: 80px; height: 60px;}
    .word {font-size: 40px; margin: 0 10px 0px 40px; letter-spacing: 5px;}
    .divider {width: 125px; height: 3px; background: #f9eb35; margin: 0 5px; display: inline-block;} 
    .nav-item{font-size: 20px;}
    li:nth-child(1) {padding: 0px;}
    a.nav-link {padding: 10px;}
    ul.nav {padding: 0px;}
}
@media (min-width:1200px){
    img {width: 80px; height: 60px;}
    .word {font-size: 40px; margin: 0 10px 0px 40px; letter-spacing: 5px;}
    .divider {width: 150px; height: 3px; background: #f9eb35; margin: 0 5px; display: inline-block;} 
    .nav-item{font-size: 25px;}
    li:nth-child(1) {padding: 0px;}
    a.nav-link {padding: 5px;}
    ul.nav {padding: 0px;}
}
@media (min-width:1500px){
    .divider {width: 225px; height: 3px; background: #f9eb35; margin: 0 5px; display: inline-block;} 
}
@media (min-width:1900px){
    .divider {width: 350px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;}
    .nav a {padding-right: 40px;}
    li:nth-child(1) {padding: 0px;}
}
/* Ultra wide Media  */
@media (min-width:2500px){
    .divider {width: 600px; height: 3px; background: #f9eb35; margin: 0 20px; display: inline-block;}
    .nav a {padding-right: 60px;}
    li:nth-child(1) {padding: 0px;}
}