.main {
    min-height: 90vh;
    background-color: #6f7b3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}
.main h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}
.main span {
    color: white;
}
/* Grid */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 80%;
    max-width: 1200px;
}
/* Form */
.div1 form {
    display: flex;
    flex-direction: column;

}
.div1 form input,
.div1 form textarea {
    padding: 12px 15px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}
#submission {
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    padding: 12px;
    width: 150px;
}
#submission:hover {
    background: #ca1d1d;
    transition: 0.3s;
}
.div1 form textarea {
    resize: none;
    padding: 50px 15px;
}
/* Map */
.div2 {
    background-image: url(../../images/google-maps-uk.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
