.main {
    /* align-items: center;
    position: relative; */
    background-image: url(../../images/girl\ eggs\ with\ background.png);
    background-size: cover;

    min-height: 90vh
}
.text{
    max-width: 700px;
}
.text h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.text p {
    line-height: 1.6;
    margin-bottom: 90px;
    font-size: 25px;
}
.button {
    display: inline-block;
    padding: 20px 42px;
    background-color: #ff0;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.button:hover{
    background-color: #ffea00;
    transition: 0.2s;
}
.container-for-text {
    padding: 300px 0px 0px 1100px;    
}
@media (min-width: 2500px) {
    .text {max-width: 900px;}
    .text h2 {font-size: 70px; font-weight: bold; margin-bottom: 40px;}
    .text p {line-height: 1.6; margin-bottom: 120px; font-size: 30px;}
    .button {padding: 35px 90px; font-size: 20px;}
    .container-for-text {padding: 300px 0px 0px 1350px}
}
